<div class="container p-5">
  <div class="d-flex justify-content-center">
    <h1>My Lists</h1>
  </div>
    <% @lists.each do |list| %>
      <div class="card w-100 m-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <h5 class="card-title"><%= link_to "#{list.name}", list_path(list) %></h5>
              <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="d-flex align-items-center mb-5">
      <div class="mx-auto">
        <%= link_to "Add new list",
        new_list_path,
        :class => "btn btn-primary"%>
      </div>
    </div>
</div>
